

@using (Html.BeginForm("catcart", "Restaurants", FormMethod.Post))
{
{
    foreach (var item in (List<FoodOrder.Controllers.food>)ViewBag.foods)
    {
        <p>Name : @item.foodname</p>
        <p>Price : @item.price</p>
        <h4>Quantity : </h4>@Html.TextBox(@item.fid.ToString(), 0)
           
        <br><br>
        }
    }
    <input type="submit" value="Add to cart" class="btn-primary" style="width:250px;height:50px;"/>
}